<footer class="footer">
    <div class="container">
      <div class="footer-columns">
        <div class="footer-column">
          <h4>Info</h4>
          <ul>
            <li routerLink="aboutus">About Us</li>
            <li>Compressions</li>
            <li>Customers</li>
            <li>Service</li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Collection</h4>
          <ul>
            <li><a href="/categoryComponent?category=Lipstick">Lipstick</a></li>
            <!-- <li><a href="/categoryComponent?category=Nail Polish">Nail Polish</a></li> -->
            <li><a href="/categoryComponent?category=Foundation">Foundation</a></li>
            <li><a href="/categoryComponent?category=Eye shadow">Eye shades</a></li>
            <!-- <li><a href="/categoryComponent?category=Eye Liner">Eye Liner</a></li>
            <li><a href="/categoryComponent?category=Compact Powder">Compact Powder</a></li> -->
            <li><a href="/categoryComponent?category=Mascara">Mascara</a></li>
            <!-- <li><a href="/categoryComponent?category=Kajal">Kajal</a></li>
            <li><a href="/categoryComponent?category=Concealer">Concealer</a></li> -->



            <!-- <li>Popular Designs</li> -->
          </ul>
        </div>
        <div class="footer-column">
          <!-- <h4>Art Skills</h4>
          <ul>
            <li>New Uploads</li>
          </ul> -->
        </div>
        <div class="footer-column">
          <h4>Quick Links </h4>
          <ul>
            <li>New Launches</li>
            <li>Offer Zone</li>
            <li>Sitemap</li>
           
          </ul>
        </div>
        <div class="footer-column">
          <h4>Inspire Me</h4>
          <ul>
            <li>Beauty Book</li>
            <li>Buying Guides</li>
          </ul>
        </div>
      </div>
      <div class="newsletter">
        <h4>Newsletter</h4>
        <p>Subscribe to our newsletter for a weekly dose of news, updates, helpful tips, and exclusive offers.</p>
        <form>
          <input type="email" placeholder="Your email">
          <button type="submit">SUBSCRIBE</button>
        </form>
      </div>
    </div>
  </footer>
