
<div class="container-fluid">
  <carousel>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=Lipstick">
        <img src="https://images-static.nykaa.com/uploads/d98bfaa1-8733-49ba-b24f-967cd921095b.jpg?tr=cm-pad_resize,w-1800" class="d-block w-100" alt="slide1">
      </a>
    </slide>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=Powder">
        <img src="https://images-static.nykaa.com/uploads/872a25e0-8ba5-4b91-8301-23eb1439c759.jpg?tr=cm-pad_resize,w-1800" class="d-block w-100" alt="slide1">
      </a>
    </slide>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=Lipstick">
        <img src="https://images-static.nykaa.com/uploads/6ccb127e-c3a7-4d57-92e7-b07c7d239f69.jpg?tr=cm-pad_resize,w-1800" class="d-block w-100" alt="Slide2">
      </a>
    </slide>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=Foundation">
        <img src="https://images-static.nykaa.com/uploads/c1a5c07f-e28f-4e28-80de-1328247ee78b.jpg?tr=cm-pad_resize,w-1800" class="d-block w-100" alt="slide3">
      </a>
    </slide>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=Foundation">
        <img src="https://images-static.nykaa.com/uploads/a99a23cd-4c4e-40a3-8e3b-4eedf1facabc.jpg?tr=cm-pad_resize,w-1800" class="d-block w-100" alt="slide4">
      </a>   
    </slide>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=Mascara">
        <img src="https://images-static.nykaa.com/uploads/ae4db3b8-dc02-436a-a17e-2680ddd4e7e1.jpg?tr=cm-pad_resize,w-1800" class="d-block w-100" alt="slide5">
      </a>  
    </slide>
  </carousel>
</div>

<div class="best-deals">
    <h2>Featured bestseller</h2>
    <ul>
      <li>
        <a href="/categoryComponent?category=Lipstick">
          <img src="https://files.myglamm.com/site-images/800x800/kl1_1.jpg" alt="Deal 1">
        </a>
      </li>
      <li>
        <a href="/categoryComponent?category=Lipstick">
          <img src="https://files.myglamm.com/site-images/800x800/PLK1.jpg" alt="Deal 2">
        </a>
      </li>
      <li>
        <a href="/categoryComponent?category=Lipstick">
          <img src="https://files.myglamm.com/site-images/800x800/nde1.jpg" alt="Deal 3">
        </a>
      </li>
      <li>
        <a href="/categoryComponent?category=Lipstick">
          <img src="https://files.myglamm.com/site-images/800x800/Fxxy1.jpg" alt="Deal 3">
        </a>     
      </li>
      <!-- Add more deals here -->
    </ul>
  </div>
  
  <div class="best-deals">
    <h2>Featured New</h2>
    <ul>
      <li>
        <a href="/categoryComponent?category=Foundation">
          <img src="https://files.myglamm.com/site-images/800x800/1-Lightful.jpg" alt="Deal 1">
        </a>
      </li>
      <li>
        <a href="/categoryComponent?category=Mascara">
          <img src="https://files.myglamm.com/site-images/800x800/ms1_1.jpg" alt="Deal 2">
        </a>
      </li>
      <li>
        <a href="/categoryComponent?category=EyeShades">
          <img src="https://files.myglamm.com/site-images/800x800/Tile-1-Reverie.jpg" alt="Deal 3">
        </a>
      </li>
      <li>
        <a href="/categoryComponent?category=Kajal">
          <img src="https://files.myglamm.com/site-images/800x800/Sprkhl1.jpg" alt="Deal 3">
        </a>
      </li>
      <!-- Add more deals here -->
    </ul>
  </div> 
